*{
    margin: 0;
    padding: 0;
}
body{ 
    background-color: #f4ebd3;
}

header{
    height: 100px;
    width: 100%;
    background-color: #555879;
    color: #f4ebd3;
    text-align: center;
}

header h1{
    padding: 30px;
}

main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap:10px;
}

.leftside{
    height: 500px;
    width: 600px;
    border: 1px solid #555879;
    border-radius: 10px;
    margin-top: 10px;
    overflow-y: scroll;
    padding: 10px 0;
}

.leftside .form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.leftside .form input{
    width: 350px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #555879;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.308);
    padding-left: 10px;
    background-color: #f4ebd3;
    color: #555879;
    transition: 0.4s;
}

.leftside .form input:hover{
    background-color: #555879;
    color: #f4ebd3;
}

.leftside .form #Ajout{
    color: #555879;
    border: 1px solid #555879;
    padding: 10px;
    width: 100px;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.507);
    transition: 0.4s;
}

.leftside .form #Ajout:hover{
    color: #f4ebd3;
    background-color: #555879;
}

.rightside{
    height: 500px;
    width: 600px;
    border: 1px solid #555879;
    border-radius: 10px;
    margin-top: 10px;
    padding:20px;
}

.rightside .list-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.rightside .list-container ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
}

footer{
    height: 100px;
    width: 100%;
    background-color: #555879;
    color: #f4ebd3;
    text-align: center;
    margin-top: 10px;
}

footer #red{
    position: relative;
    top: 40px;
    color: #f4ebd3;
    text-decoration: none;
    font-size: 20px;
    border: 1px solid #f4ebd3;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.349);
    transition: 0.4s;
}

footer #red:hover{
    color: #555879;
    background-color: #f4ebd3;
}